
  <footer class="footer">
      <span>&copy; CopyRight 2020</span>
      <ul class="social-media">
        <li><a href="#"><i class="ri-facebook-circle-line"></i></a></li>
        <li><a href="#"><i class="ri-instagram-line"></i></a></li>
        <li><a href="#"><i class="ri-twitter-fill"></i></a></li>
        <li><a href="#"><i class="ri-linkedin-fill"></i></a></li>
        <li><a href="#"><i class="ri-mail-fill"></i></a></li>
      </ul>
  </footer> 
